 



/* About Us */
.about-us {
    font-family: 'Poppins', sans-serif;
    padding: 30px 0;
    background-color: #e6f7ff;  /* Changed from #e8fffe */
    text-align: center;
}




  





  
